@{
    ViewData["Title"] = "About";
    ViewData["MasterType"] = "About Us";
}
<div>
    <div class="row mb-3">
        <div class="col-md-3">
            <img src="~/images/others/nirp.jpeg" class="about-image" />
        </div>
        <div class="col-md-9">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. A cras semper auctor neque vitae. Enim diam vulputate ut pharetra. In fermentum et sollicitudin ac orci phasellus. Ultrices dui sapien eget mi proin sed libero enim. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Sit amet luctus venenatis lectus.</p>
        </div>
    </div>
    @for (int i = 0; i < 10; i++)
    {
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Amet consectetur adipiscing elit pellentesque habitant morbi tristique. Dolor sit amet consectetur adipiscing elit duis tristique sollicitudin nibh. Hac habitasse platea dictumst vestibulum rhoncus est pellentesque elit ullamcorper. A cras semper auctor neque vitae. Enim diam vulputate ut pharetra. In fermentum et sollicitudin ac orci phasellus. Ultrices dui sapien eget mi proin sed libero enim. Vel orci porta non pulvinar neque laoreet suspendisse interdum consectetur. Sit amet luctus venenatis lectus.</p>
    }
</div>